.card {
  ::ng-deep .p-menubar {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 1.5rem;
  }
}

main {
  min-height: calc(100vh - 65px);
  
  &.p-3 {
    padding: 0;
  }
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.text-primary {
  color: var(--primary-color);
}

.font-bold {
  font-weight: 700;
}

.text-2xl {
  font-size: 1.5rem;
}

.m-0 {
  margin: 0;
}

.text-color-secondary {
  color: var(--text-color-secondary);
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-2 {
  margin-right: 0.5rem;
}

.text-sm {
  font-size: 0.875rem;
}

.font-semibold {
  font-weight: 600;
}
